.extension-body {
    height: 285px;
    width: 400px;
    margin: 0px; 
    padding: 0px;  
}
.container {
    width: 400px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.center {
    margin: 0 auto;
    padding: 0px;
}
.form {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.logo {
    height: 40px;
    width: 80px;
    padding-right: 3px;
}
.search-bar {
    border-radius: 10px;
    font-size: 14px;
    padding: 4px;
    outline: none;
    color: blue;
    background-color: rgb(29, 29, 29);
}

.search-btn {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    color: rgb(135, 191, 171);
    background-color: rgb(29, 29, 29)
}

.video-container {
    color: black;
    height: 250px;
    width: 100%;
    background-color: #000;
    margin: 0px;
    padding: 0px;
}